html {
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #29273f;
	font-family: 'Avenir Next';
}

.hero1 {
	width: 100%;
	margin-bottom: -4px;
}

#bottom-bar {
	padding-bottom: 20px;
	padding-top: 20px;
	color: #D24D5C;
}

#botlink,.contact {
	color: #D24D5C;
}

.contact {
	margin-right: 10px;
}

.createdby {
	margin-left: 20px;
}

.links {
	float: right;
	margin-right: 20px;
}

.portrait {
	display: none;
}

.signup {
	background-color: #29273f;
	width: 100%;
	height: 600px;
	color: #fff;
	text-align: center;
	font-size: 300%;
	color: #D24D5C;
}

.anthemText {
	padding-top: 150px;
	padding-bottom: 50px;
	display: inline-block;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('../fonts/Avenir Next.ttc');
}

@media screen and (orientation:portrait) {
	.all {
		display: none;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-ms-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}
	
	.portrait {
		display: block;
		font-family: 'Avenir Next';
		color: #D24D5C;
		font-size: 60px;
		text-align: center;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
	
	#portrait {
		width: 50%;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}